/* Define a class for your background-div */
.background-div {
    /* Set the background image using the url() function */
    background-image: url('../assets/background.jpeg');
    
    /* Specify the size and behavior of the background image */
    background-size: cover; /* You can also use 'contain' or other values */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: center; /* Centers the image in the div */
    
    /* Set the height and width of the div */
    width: 100%;
    height: 1000px; /* You can adjust the height as needed */
    
    /* Optionally, add some padding and other styles */
    padding: 20px;
    color: white; /* Text color on top of the background image */
}


.displayImg {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: contain;   
  }